* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #363636;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    padding-left: 34px;
    border-bottom: 1px solid #D4D4D4;
}

.logo {
    margin-right: 34px;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #D4D4D4;
}

.search-input {
    background-image: url("../img/search-icon.svg");
    background-repeat: no-repeat;
    border: none;
    padding-left: 38px;
    background-position: center left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #A5A5A5;
    margin-left: 34px;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.button-group {
    height: 100%;
}

.button {
    height: 100%;
    cursor: pointer;
}

.sign-up {
    font-size: 18px;
    line-height: 21px;
    color: #5671F6;
    border: none;
    background-color: #ffffff;
    padding-left: 34px;
    padding-right: 34px;
    border-left: 1px solid #D4D4D4;
}

.sign-in {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    border: none;
    background-color: #5671F6;
    padding-right: 50px;
    padding-left: 50px;
}

.container {
    max-width: 1130px;
    margin: auto;
}

.film {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D4D4D4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.trailer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    cursor: pointer;
}

.trailer-button-icon {
    /*vertical-align: middle;*/
    margin-right: 14px;
}

.film-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 16px;
}

.film-subtitle {
    color: #A5A5A5;
    line-height: 21px;
}

.film-description {
    font-size: 14px;
    line-height: 150%;
    max-width: 514px;
    color: #000000;
    margin-bottom: 50px;
}

.about-film {
    display: flex;
    margin-bottom: 50px;
}

.about-text {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.about-text-bold {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

.left-side {
    margin-right: 40px;
}

.rating {
    display: flex;
    align-items: center;
}

.film-rating-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    border: 1px solid #5671F6;
    border-radius: 10px;
    color: #5671F6;
    font-weight: bold;
    font-size: 28px;
    margin-right: 28px;
}
.rating-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 12px;
}
.rating-text{
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}
.rating-text-bold{
    font-weight: bold;
}
.cast{
    padding-top: 70px;
    padding-bottom: 100px;
}
.tabs{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.tabs-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.section-title{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-right: 30px;
    color: #A5A5A5;
}
.section-title.active{
    color: #363636;
    font-weight: 900;
}
.avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.card{
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}
.card-text{
    font-size: 16px;
    line-height: 19px;
}
.name{
    color: #5671F6;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 6px;
}
.en-name{
    color: #A5A5A5;
}